{% extends 'base.html' %}

{% block title %}
    Students list
{% endblock %}

{% block custom_css %}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
{% endblock %}

{% block content %}
    <form method="get">
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name"><br><br>

        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name"><br><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age"><br><br>

        <input type="submit" value="Search">
    </form>
    <p><strong>Count of students: {{ students.count }}</strong></p>
    <table>
        <tr>
            <th></th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Phone number</th>
            <th>🖉</th>
            <th>🗑</th>
        </tr>



    {% for student in students %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ student.first_name }}</th>
            <th>{{ student.last_name }}</th>
            <th>{{ student.age }}</th>
            <th>{{ student.phone_number }}</th>
            <th><a href="{% url 'students:update' student.id %}">Edit</a></th>
            <th><a href="{% url 'students:delete' student.id %}">Delete</a></th>
        </tr>
    {% endfor %}
    </table>
{% endblock %}