{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Groups list
{% endblock %}


{% block content %}
    {% include 'groups/includes/accordion.html' %}
    <strong>Count of groups: {{ filter_groups.qs.count }}</strong></p>
    <table class="table table-success table-striped">
        <tr>
            <th></th>
            <th>Name group</th>
            <th>Size group</th>
            <th><i class="bi bi-pencil"></i></th>
            <th><i class="bi bi-trash3"></i></th>
        </tr>

    {% for group in groups %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <th>{{ group.name_group }}</th>
            <th>{{ group.students.count }}</th>
            <th><a class="btn btn-info" href="{% url 'groups:update' group.id %}">Edit</a></th>
            <th><a class="btn btn-warning" href="{% url 'groups:delete' group.id %}">Delete</a></th>
        </tr>

    {% endfor %}
    </table>
{% endblock %}
